{% extends 'base.html' %}

{% block content %}
<div class="todo-form">
    <h1>Flask Todo</h1>
    <h3>Hello, {{ current_user.username|capitalize }}! What do you want to do today?</h3>
    <form action="" method="POST">
        {{ form.hidden_tag() }}
        <p>
            {{ form.task(size=32, placeholder='Enter your todo') }} <br>
            {% for error in form.task.errors %}
            <span style="color:red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.submit(class="btn btn-primary", value="Add a Todo") }}</p>
    </form>
</div>
<div class="tasks container-fluid">
    <div class="incomplete">
        <h3>Incomplete Tasks</h3>
        <ul>
            {% for task in itasks %}
                {% if task.author.username == current_user.username %}
                    <li>
                        {{ task.body|capitalize }}
                        <a class="button" href="{{url_for('complete', id=task.id)}}">Done</a>
                        <a class="button danger" href="{{url_for('delete', id=task.id)}}">Delete</a>
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
    </div>
    <div class="completed">
        <h3>Completed Tasks</h3>
        <ul>
            {% for task in ctasks %}
                {% if task.author.username == current_user.username %}
                    <li>
                        {{ task.body|capitalize }}
                        <a class="button" href="{{url_for('complete', id=task.id)}}">Done</a>
                        <a class="button danger" href="{{url_for('delete', id=task.id)}}">Delete</a>
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock content %}